<app-topnav></app-topnav>
<br>

<div class="container">


    <h2>
        About AmpereArtElectrical
    </h2>
    <h4>
        That’s who we are!
    </h4>

    <p>




        AmpereArtElectrical has earned the name of being the most-trusted solar company in Nagpur – all over India, in
        general –
        since
        its launch in 2015 not because of making promises, but by keeping those promises.

        <br><br>

        We were founded by two highly passionate engineers from IIT Mumbai who wanted to light up lives and homes across
        India
        with green electricity.
    </p>

    <h4>Our customers have been the heroes in our astounding journey since 2015:</h4>

    <ul>
        <li>We started with the installation of a 73 KW solar system for TVS in Madurai.</li>
        <li>We managed to become the only UL-certified company in India.</li>
        <li>We are now the third-biggest residential solar installer in India.</li>
        <li>Giants like Panasonic, Reliance, and Jindal Steel are our clients.</li>
        <li>We installed an 8 MW solar plant for Prince Pipes in two phases (2020 and 2022).</li>
        <li>We are now a team of more than 300 super-passionate solar supporters.</li>
        <li>We have helped 6000+ homes in India go solar.</li>
    </ul>

    <h4>We managed to win the attention of customers because we offer:</h4>

    <ul>
        <li>Prefabricated mounting structures that can withstand high wind speeds (up to 150 Kmph).</li>
        <li>An annual maintenance contract to take care of the solar system’s health.</li>
        <li>A 10-minute, quick loan approval.</li>
        <li>Interest-free EMI scheme for a tenure of 6 months.</li>
        <li>Easy financing EMI option for a tenure of 36 months at minimum interest rates.</li>
        <li>An easy 5-year EMI that you can pay in 60 installments.</li>
        <li>Free rooftop inspection before installation.</li>
    </ul>


    <p>

        AmpereArtElectrical is thriving to date in the solar market with the passion to escalate mass adoption of solar
        and
        put the
        genie of pollution back in its lamp.

    </p>

    <h4>
        Why choose AmpereArtElectrical in Maharashtra?
    </h4>

    <p>

        AmpereArtElectrical is one of the most trusted solar installation company in Maharashtra. 25,000+ customers have
        already
        booked
        solar with us.

        We offer more than just solar panel installation in Nagpur. Some of our services include the following:

        A free rooftop inspection.
        Showing customers a 3-D drawing of the solar system on the rooftop within 15 minutes.
        Helping customers choose the best modules and solar inverters.
        Installing the solar system for home in Nagpur in a safe and secure manner.
        Ensuring no welding is done on-site since we use our mounting structures.
        Handling all the paperwork, whether it’s an application to change the sanctioned load (if required) or applying
        for
        the
        commissioning of the net meter or a subsidy.
        Offering a 5-year AMC maintenance contract.
        Free solar assessment by AmpereArtElectrical

        AmpereArtElectrical is a customer-centric company. We offer all transparent services out of which one is
        offering a
        free
        solar
        assessment.

        Once you’ve booked an appointment with us, our expert solar consultant will visit your house and inspect the
        rooftop
        to
        determine:

        The type of mounting structure that’ll be needed
        The shadow-free area available
        The tilt and slope of the rooftop
        These are but a few things. Our consultants will also answer any questions that you may have for them.

    </p>

</div>