<app-topnav></app-topnav>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1>Power Your Future with Clean, Affordable Solar Energy</h1>
                <h5>Harness the sun’s energy to save money and protect the planet — reliable solar solutions for homes
                    and businesses.</h5>
                <h6>Get Your Free Solar Consultation Today</h6>
                <button class="btn btn-primary">Discover More</button>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- <img src="/assets/images/smartboy_white.png" alt="" width="100%"> -->
                <img src="/assets/images/smartboy_white.png" alt="" width="100%">
            </div>
        </div>
    </div>
</div>
<app-connections></app-connections>
<app-calculator></app-calculator>
<app-whychoose></app-whychoose>
<app-timeline></app-timeline>
<app-testimonial></app-testimonial>
<app-footer></app-footer>