<app-topnav></app-topnav>
<!-- <div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1>Power Your Future with Clean, Affordable Solar Energy</h1>
                <h5>Harness the sun’s energy to save money and protect the planet — reliable solar solutions for homes
                    and businesses.</h5>
                <h6>Get Your Free Solar Consultation Today</h6>
                <button [routerLink]="['/consultation']" class="btn btn-primary">Book a free consultation</button>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</div> -->

<section class="hero">
    <div class="hero-overlay">
        <div class="hero-content">
            <p class="subtitle">Producing What Matters!</p>
            <h1 class="title">Power Your Future with Clean, Affordable Solar Energy</h1>
            <p class="description">
                Harness the sun’s energy to save money and protect the planet — reliable solar solutions for homes
                and businesses.
            </p>
            <div class="hero-buttons">
                <a [routerLink]="['/consultation']" class="btn-primary">Book a free consultation</a>
                <a href="tel:17002300035" class="btn-secondary">Talk With Us - 9665995638</a>
            </div>
        </div>
    </div>
</section>

<div class="running-text-wrapper">
    <div class="running-text">
        Pay Nothing for Electricity Until Your Solar Panels Are Installed |
        Zero Electricity Bills Until Your Solar System Goes Live | Contact Us: 9665995638
    </div>
</div>




<!-- <div class="features-section">
    <div class="features-card">
        <div class="features-left">
            <h2>Enjoy all this. At no extra cost.</h2>
        </div>
        <div class="features-right">
            <ul>
                <li><span class="icon">🔒</span> Unlimited SSL security certificates</li>
                <li><span class="icon">🌐</span> Free domain (with annual plans)</li>
                <li><span class="icon">✨</span> Professionally designed templates</li>
                <li><span class="icon">🔁</span> Automatic back-ups and updates</li>
                <li><span class="icon">📧</span> Email addresses</li>
                <li><span class="icon">📈</span> Unlimited web traffic</li>
            </ul>
        </div>
    </div>
</div> -->


<app-connections></app-connections>
<app-whychoose></app-whychoose>
<app-timeline></app-timeline>
<app-faq></app-faq>
<!-- <app-teams></app-teams> -->
<app-testimonial></app-testimonial>
<app-footer></app-footer>