<footer class="footer">
    <div class="footer-container">
        <div class="footer-branding">
            <img src="https://img.icons8.com/color/48/magento.png" alt="Solar Square Logo" class="logo" />
            AmpereArtElectrical
            <p class="tagline">Rooftop solar made simple. We don’t just sell solar, we give you peace of mind.</p>
            <div class="contact-info">
                <p><i class="fa fa-phone"></i> 9665995638</p>
                <p><i class="fa fa-envelope"></i> AmpereArtElectrical.in</p>
            </div>
            <div class="social-icons">
                <i class="fa fa-facebook-f"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
        </div>

        <div class="footer-links">
            <div class="link-section">
                <h4>Our Capabilities</h4>
                <ul>
                    <li>Homes</li>
                    <li>Commercial</li>
                    <li>Housing Society</li>
                </ul>
            </div>
            <div class="link-section">
                <h4>Quick Links</h4>
                <ul>
                    <li> <a [routerLink]="['/about']">About Us</a></li>
                    <!-- <li>Sitemap</li> -->
                </ul>
            </div>
            <div class="link-section">
                <h4>&nbsp;</h4>
                <ul>
                    <li>Careers</li>
                    <li>On-Grid Solar</li>
                    <li>Off-Grid Solar</li>
                </ul>
            </div>
            <div class="link-section address">
                <h4>Address</h4>
                <p>1st floor, Standford Building, S.V. Road & Juhu Lane Junction,<br>
                    above Mahindra Showroom, Zalawad Nagar, Ganga Vihar,<br>
                    Andheri West, Mumbai, Maharashtra 400058</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-divider"></div>
        <div class="footer-bottom-content">
            <p>&copy; 2025 AmpereArtElectrical. All rights reserved.</p>
            <div class="footer-links-inline">
                <a href="#">Privacy Policy</a>
                <span>|</span>
                <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>

</footer>