<div class="topnavbar">
    <div class="container">
        <div class="child brand">
            <img width="48" height="48" src="https://img.icons8.com/color/48/magento.png" alt="magento" />
        </div>
        <div class="child solar-links">
            <div>ThinkEarth 360</div>
        </div>

        <!-- Mobile menu button -->
        <button class="mobile-menu-button" (click)="toggleMobileMenu()">
            <i class="fa" [ngClass]="{'fa-bars': !isMobileMenuOpen, 'fa-times': isMobileMenuOpen}"></i>
        </button>

        <div class="child social" [class.mobile-menu-open]="isMobileMenuOpen">
            <ul>
                <li *ngFor="let item of navlinks" class="menu-item">
                    <a id="item.id" [routerLink]="[item.routerlink]" [class.active]="activeDropdown === item.title"
                        (click)="toggleDropdown(item.title, $event)">
                        {{item.title | titlecase}}
                        <i *ngIf="item.caret === true" class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown" *ngIf="activeDropdown === item.title">
                        <a *ngFor="let item of item.children" href="#">{{item.subtitle | titlecase}}</a>
                    </div>
                </li>
                <li class="divider">|</li>
                <li>
                    <a [routerLink]="['/consultation']">Book a free consultation</a>
                </li>
                <li class="divider">|</li>
                <li>
                    <a [routerLink]="['/login']">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>