<!-- <app-topnav></app-topnav> -->
<br>
<div class="container">


    <h5>All USers</h5>
    <div class="table-container" *ngIf="data.length > 0; else noData">
        <table class="custom-table">
            <thead>
                <tr>
                    <th style="display: none;">UserID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Company Name</th>
                    <th>City</th>
                    <th>Pin Code</th>
                    <th>WhatsApp</th>
                    <th>Monthly Bill</th>
                    <th>Approval Status</th>
                    <th>Designation</th>
                    <th>Society Name</th>
                    <th>User Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td data-label="Name">{{ item.fullName | titlecase }}</td>
                    <td data-label="Type">{{ item.type | titlecase }}</td>
                    <td data-label="Company Name">{{ item.companyName | titlecase }}</td>
                    <td data-label="City">{{ item.city | titlecase }}</td>
                    <td data-label="Pin Code">{{ item.pinCode }}</td>
                    <td data-label="WhatsApp">{{ item.whatsapp }}</td>
                    <td data-label="Monthly Bill">{{ item.monthlyBill }}</td>
                    <td data-label="Approval Status">{{ item.approvalStatus | titlecase }}</td>
                    <td data-label="Designation">{{ item.designation | titlecase }}</td>
                    <td data-label="Society Name">{{ item.societyName | titlecase }}</td>
                    <td data-label="User Status">
                        <button (click)="updateUserStatus(item)" class="btn" [ngStyle]="{
                          'background-color': item.userStatus === 'new' ? 'green' : 'blue',
                          'color': 'white'
                        }">
                            {{ item.userStatus === 'new' ? 'Check' : 'Checked' }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #noData>
        <p>No data found.</p>
    </ng-template>
    <br>

    <button class="btn btn-primary" [routerLink]="['/home']">Back to home</button>

</div>