<div class="banner">
    <div class="stat">
        <span class="number">{{ experience }}</span>
        <p>Years of Experience</p>
    </div>
    <div class="stat">
        <span class="number">{{ homes }}</span>
        <p>Homes Solarised</p>
    </div>
    <div class="stat">
        <span class="number">{{ installation }}</span>
        <p>MWp Installation Experience</p>
    </div>
    <div class="stat">
        <span class="number">{{ savings }}</span>
        <p>Savings Across India</p>
    </div>
</div>